h1 {
    text-align: center;
}

.navbar {
    text-align: center;
}

.sidebar a{
    font-size: 26;
}

table{
    font-size: 26;
}

.lux { 
    border: 1px solid #a52a2a;
    border-collapse: collapse;
    border-spacing: 0;
   }
.lux th {
    background: #2C446A;
    color: white; 
   }
.lux td { 
    border-bottom: 1px solid black;
   }
.lux td, .lux th {
    padding: 4px;
   }